
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Jost, sans-serif;
}
html, body, main, nav, footer {
    overflow-x: hidden;
    font-size: 16px;
}
:root {
    --border-color1: #160f0a;
    --main-color: #956a47;
    --secondary-color: #ceb198;
    --third-color: #d99937;
    --fourth-color: #492310;
    
    --font-light: #f1f1f1;
    --font-dark: #2c2221;
}
/*----------------------------------------- HEADER  ----------------------------------------*/
header {
    top: 0;
    width: 100vw;
    height: 20px;
    font-size: 16px;
    background: var(--fourth-color);
    color: var(--font-light);
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    position: fixed;
    z-index: 100;
}
.announcement-container {
    width: 1450px;
    padding: 2px;
    text-align: center;
}
.announcement {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1.1px;
    white-space: nowrap;
    animation-name: move-right-to-left;
    animation-iteration-count: infinite;
    animation-duration: 25s;
    animation-timing-function: linear;
}
@keyframes move-right-to-left{
    0% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(-90%);
    }
}
/*----------------------------------------- NAVIGATION  ----------------------------------------*/
.nav {
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 20px;
    display: flex;
    background-color: var(--secondary-color);
    z-index: 100;
    justify-content: center;
    overflow: visible;
}
.nav-items {
    width: 1450px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    aspect-ratio: 3 / 1;
    width: 100px;
    border: 1px solid black;
    padding: 5px;
}
#menu-icon{
    color: var(--bg-color);
    font-size: 24px;
    z-index: 7;
    cursor: pointer;
    display: none   ;
}
.navlinks{
    height: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    right: 0%;
    position: relative;
}
.navlinks.active {
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    top: 70px;
    background: white;
    width: 100%;
    z-index: 100;
}
.navlinks a{
    text-decoration: none;
    color: var(--font-dark);
    font-family: Jost, sans-serif;
    font-size: 1.35rem;
    font-weight: 500;
    transition: ease-out 0.1s;
}
.navlinks a:hover {
    border-bottom: 1px solid var(--border-color1);
    scale: 1.1;
}
#my-cart {
    min-width: 60px;
    height: 40px;
    border: none;
    background: white;
    color: var(--fourth-color);
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    overflow: visible;
    border-radius: 5px;
}
#my-cart span {
    background-color: red;
    padding: 0 10px;
    position: absolute;
    display: none;
    bottom: 0%;
    scale: 0.7;
    color: white;
    border-radius: 50%;
    bottom: -40%;
    font-size: 1.2rem;
    font-weight: 800;
}
.cart-container {
    display: none;
    padding: 5px;
}
.cart-container.show-container {
    width: 1500px;
    max-width: 700px;
    height: 300px;
    min-height: 300px;
    background: white;
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 50px;
    top: 60px;
    right: 0;
    z-index: 100;
    border-radius: 5px;
    border: 2px solid var(--font-dark);
    gap: 5px;
    overflow: hidden;
}
.cart-order-container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.cart-order-container div {
    background-color: #f1f1f1;
    color: black;
    padding: 20px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.cart-order-container div:nth-child(even) {
    background-color: #dddddd;
    color: black;
    padding: 20px 10px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
}
.cart-order-container div button {
    background: rgb(250, 83, 83);
    color: white;
    font-size: 0.9rem;
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.cart-buttons-and-total-price {
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 50px;
}
.total-price-of-orders {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 0%;
}
.cart-buttons {
    display: flex;
    gap: 5px;
}
#checkout-order, #close-cart {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: none;
    padding: 0% 15px;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
}
#checkout-order {
    background-color: #69dd5f;
    transition:  0.3s linear;
}
#checkout-order:hover {
    background-color: #4da545;
}
#close-cart {
    background-color: rgb(245, 83, 83);
    transition:  0.3s linear;
}
#close-cart:hover {
    background-color: rgb(172, 62, 62);
}
/*----------------------------------------- MAIN  ----------------------------------------*/
main {
    margin: 70px auto auto;
    max-width: 1450px;
    height: calc(100vh - 70px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white; 
    border-radius: 10px;
    overflow: hidden;
}
main h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--font-dark);
    padding: 10px;
}
main h1 #menu-word{
    color: var(--third-color);
}
/*----------------------------------------- MENU CONTAINER  ----------------------------------------*/
#menu-container{
    width: 100%;
    min-height: 700px;
    border-top: 2px solid var(--main-color);
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: Jost, sans-serif;
}
.menu-bar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: white;
}
.menu-bar.active{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    z-index: 10;
}
/*----------------------------------------- MENU SIDEBAR NAVIGATION  ----------------------------------------*/
#product-icon {
    color: white;
    font-size: 2rem;
    background: var(--fourth-color);
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
    text-transform: capitalize;
    display: none;
    width: 100%;
    margin: 10px 10px 0px 10px;
}
.category-name {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--font-dark);
}
.category-name:hover {
    color: var(--third-color);
}
.menu-bar div {
    display: flex;
    flex-direction: column;
}
.menu-bar hr {
    width: 100%;
    border: .2px solid var(--main-color);
    margin: 10px 0px;
}
.menu-bar button {
    border: none;
    background: white;
    text-align: left;
    cursor: pointer;
}
.sub-category-name {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 5px;
    padding-left: 10px;
    transition: 0.2s;
    background: var(--font-dark);
    border-radius: 5px;
    color: white;
    text-align: center;
}
.sub-category-name:hover {
    color: var(--third-color);
}
.menu-bar button{
    color: black;
}
.product-name {
    padding:2px 2px 2px 30px;
    display: block;
    font-size: 1rem;
    font-weight: 400px;
    transition: linear 0.2s;
}
.product-name:hover{
    color: var(--third-color);
    text-decoration: underline;
}
.product-name::first-letter {
    text-transform: uppercase;
}
/*----------------------------------------- MENU FIELD  ----------------------------------------*/
.menu-field {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family:  Jost, sans-serif;
    gap: 10px;
    padding: 10px;
}
.menu-products-path {
    width: 100%;
    
    background: var(--secondary-color);
    padding: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .3px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-products-path button {
    border: none;
    background: none;
    color:  black;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .3px;
}
.product-path-links {
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
    transition: linear 0.2s;
    cursor: pointer;
}
.product-path-links:hover {
    color: var(--fourth-color);
}
#fa-greater-than-category, #fa-greater-than-items {
    justify-content: center;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0px 0px 0px 20px;
    display: none;
}
.product-path-links-item {
    color:  green;
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: context-menu;
}
.products-main-container{
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    max-height: 100%;
    gap: 10px;
    overflow-y: scroll;
    padding: 10px;
    border-bottom: 1px solid var(--fourth-color);
    border-top: 1px solid var(--fourth-color);
    background: #f1f1f1;
}
.product-container{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    gap: 10px;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.2s;
    background: white;
}
.product-container:hover{
    border: 2px solid var(--third-color);
}
#product-image {
    width: 140px;
    height: 140px;
    object-fit: fill;
    border-radius: 10px;
}
.product-name-and-price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#menu-field-product-name {
    width: 150px;
    font-size: 1.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}
.product-price {
    color: #3e9c35;
    font-size: 1.4rem;
    font-weight: 600;
}
.peso-sign{
    color: #3e9c35;
    font-size: 1.1rem;
    font-weight: 400;
}
#menu-field-product-description {
    width: 275px;
    font-size: 1rem;
    font-family: Jost,sans-serif;
    font-weight: 375;
    text-align: center;
}
.product-customization {
    height: 100%;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.customizations-factors-container {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}
.customizations-factors-container div {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.customization-container {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: stretch;
    align-items: center;
}
.customization-container div{
    align-content: center;
    height: 100%;
}
.customization-container  label{
    font-size: 1.1rem;
    font-weight: 400;
}
.quantity-container{
    gap: 5px;
}
.sugar-level-container select {
    padding: 3px;
    border-radius: 10px;
    font-size: 0.9rem;
    background: var(--main-color);
    text-align: center;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.sizes-container select {
    padding: 3px;
    font-size: 0.9rem;
    background: var(--main-color);
    text-align: center;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.sizes-buttons {
    display: flex;
    gap: 2px;
}
.product-size-btn {
    background-color: white;
    border: 0.5px solid var(--main-color);
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 2px;
    cursor: pointer;
    transition: 0.2s;
}
.product-size-btn:hover {
    background: var(--main-color);
    color: white;
}
.product-quantity {
    height: 30px;
    display: flex;
    align-self: center;
}
.product-quantity-element-decrease{
    background: var(--main-color);
    width: 30px;
    border: none;
    color: white;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    transition: 0.2s linear;
}
.product-quantity-element-decrease:hover{
    background: var(--third-color);
    border: none;
}
.product-quantity-element{
    width: 30px;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid var(--main-color);
}
.product-quantity-element-increase{
    background: var(--main-color);
    width: 30px;
    border: none;
    color: white;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    transition: 0.2s linear;
}
.product-quantity-element-increase:hover{
    background: var(--third-color);
    border: none;
}
.add-to-cart {
    border-radius: 10px;
    border: 1px solid var(--main-color);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--third-color);
    background: white;
    cursor: pointer;
    padding: 5px 10px;
}
/*----------------------------------------- RESPONSIVENESS ----------------------------------------*/
@media only screen and (max-width: 1440px) {
    .nav-items {
        width: 90%;
    }
}
@media only screen and (max-width: 1300px) {
    #menu-field-product-description {
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    .product-name {
        line-height: 1.2;
    }
    .product-name-and-price-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
@media only screen and (max-width: 950px) {
    html {
        font-size: 14px;
    }
    .sub-category-name {
        margin-bottom: 2.5px;
        padding-left: 5px;
    }
    .product-name {
        padding:2px 0px 2px 5px;
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
    main h1 {
        padding: 10px 0px 0px 0px;
    }
    .nav {
        justify-content: center;
    }
    #menu-icon{
        display: initial;
    }
    .navlinks{
        height: auto;
        position: fixed;
        top: -500px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        background: white;
        transition: 0.3s;
        text-align: center;
        padding: 20px 0px;
    }
    .navlinks.active {
        height: auto;
        position: fixed;
        top: 70px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        background: white;
        transition: 0.3s;
        text-align: center;
        padding: 20px 0px;
        z-index: 100;
    }
    .menu-bar {
        padding: 5px;
    }
    .category-name {
        margin-bottom: 2px;
    }
    .menu-bar hr {
        margin: 2px 0px;
    }
    .sub-category-name {
        margin-bottom: 2.5px;
        padding-left: 5px;
    }
    .product-name {
        padding:1px 1px 1px 3px;
        display: block;
        line-height: 1.6;
    }
    .menu-products-path {
        height: 8%;
    }
    #menu-container {
        padding: 0px;
    }
    .products-main-container{
        display: grid;
        grid-template-columns:  48% 48%;
        gap: 20px;
        padding: 10px;
        overflow-x: hidden;
    }
    .product-container{
        flex-direction: column;
        gap: 5px;
        box-shadow: 5px 5px 5px 2px rgba(52,52,52,0.2);
        padding: 5px 10px;
    }
    #product-image {
        width: 140px;
        height: 110px;
        object-fit: fill;
        border-radius: 10px;
    }
    #menu-field-product-name {
        width: 100%;
    }
    .add-to-cart {
        width: 100%;
        padding: 2px;
    }
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 13px;
    }
    .sub-category-name {
        background: var(--font-dark);
        border-radius: 5px;
        color: white;
        padding: 3px;
        font-size: 1rem;
        text-align: center;
    }
    .product-name {
        border-bottom: 1px solid rgba(24, 24, 24, 0.1);
        line-height: 1.2;
        font-size: 1.1rem;
    }
    .menu-bar hr {
        border: none;
    }
}
@media only screen and (max-width: 550px) {
    html {
        font-size: 14px;
    }
    #menu-container {
        flex-direction: column;
        align-items: center;
        gap: 0px;
        position: relative;;
    }
    .menu-products-path {
        display: none;
    }
    .menu-bar {
        width: 100%;
        position: fixed;
        transition: 0.3s linear;
        top: -1000px;
    }
    .menu-bar.active{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        z-index: 10;
    }
    #product-icon {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-field {
        width: 100%;
    }
    .category-name {
        display: none;
    }
    .sub-category-name {
        margin: 5px;
    }
    .product-name {
        text-align: center;
    }
    .product-container {
        max-height: 400px;
    }
}
@media only screen and (max-width: 425px) {
    html {
        font-size: 15px;
    }
    main h1 {
        padding: 0px 0px 0px 0px;
        font-size: 2rem;
    }
    .menu-products-path {
        height: 5%;
    }
    #products-main-container {
        display: grid;
        justify-content: center;
        grid-template-columns:  300px;
        grid-template-rows: auto;
        overflow: scroll;
    }
    .products-main-container {
        display: grid;
        justify-content: center;
        grid-template-columns:  300px;
        grid-template-rows: auto;
        overflow: scroll;
    }
    .product-container{
        gap: 3px;
    }
    #product-image {
        width: 140px;
        height: 110px;
        object-fit: fill;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 400px) {
    html {
        font-size: 15px;
    }
}
@media only screen and (max-width: 375px) {
    html {
        font-size: 15px;
    }
}